<a href="https://colab.research.google.com/github/Coderkingkrishna/basic-c-programs/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
x=pd.Series()
print(x)

Series([], dtype: float64)

<ipython-input-2-118a6ab0bee0>:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x=pd.Series()

In [ ]:
import pandas as pd
import numpy as np
npdata = np.array(['a','b','c','d'])
s=pd.Series(npdata)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
import numpy as np
import pandas as pd
data = {'a':0,'b':1,'c':2}
s=pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [ ]:
import numpy as np
import pandas as pd
data = {'a':0,'b':1,'c':2}
s=pd.Series(data)
print(s)

a    0
b    1
c    2
dtype: int64

In [ ]:
import numpy as np
import pandas as pd
s=pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
import numpy as np
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[0])
print(s[:3])
print(s[-3])

1
a    1
b    2
c    3
dtype: int64
3

In [ ]:
import numpy as np
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['a'])
print(s[['a','b','c']])

1
a    1
b    2
c    3
dtype: int64

In [38]:
import numpy as np
import pandas as pd
data=[['kri',100],['loki',99],['kan',98]]
s=pd.DataFrame(data,columns=['name','marks'])
print(s)

   name  marks
0   kri    100
1  loki     99
2   kan     98

In [40]:
import numpy as np
import pandas as pd
data=[{'a':100,'b':200},{'a':98,'b':99,'c':100}]
s=pd.DataFrame(data)
print(s)

     a    b      c
0  100  200    NaN
1   98   99  100.0

In [41]:
import numpy as np
import pandas as pd
data=[{'a':100,'b':200},{'a':98,'b':99,'c':100}]
s=pd.DataFrame(data,index=['first','second'])
print(s)

          a    b      c
first   100  200    NaN
second   98   99  100.0

In [44]:
import numpy as np
import pandas as pd
s={'one' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) , 'second' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])}
d=pd.DataFrame(s)
print(d)

   one  second
a    1       1
b    2       2
c    3       3
d    4       4
e    5       5

In [45]:
import numpy as np
import pandas as pd
s={'one' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) , 'second' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])}
d=pd.DataFrame(s)
print(d['one'])

a    1
b    2
c    3
d    4
e    5
Name: one, dtype: int64

In [48]:
import numpy as np
import pandas as pd
s={'one' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) , 'second' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])}
d=pd.DataFrame(s)
d['three'] = pd.Series([10,20,30],index=['a','b','c'])
print(d)

   one  second  three
a    1       1   10.0
b    2       2   20.0
c    3       3   30.0
d    4       4    NaN
e    5       5    NaN

In [49]:
import numpy as np
import pandas as pd
s={'one' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) , 'second' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])}
d=pd.DataFrame(s)
d['three'] = pd.Series([10,20,30],index=['a','b','c'])
print(d)
d['four'] = d['one'] + d['three']
print(d)

   one  second  three
a    1       1   10.0
b    2       2   20.0
c    3       3   30.0
d    4       4    NaN
e    5       5    NaN
   one  second  three  four
a    1       1   10.0  11.0
b    2       2   20.0  22.0
c    3       3   30.0  33.0
d    4       4    NaN   NaN
e    5       5    NaN   NaN

In [50]:
import numpy as np
import pandas as pd
s={'one' : pd.Series([1,2,5],index=['a','b','c']) , 'second' : pd.Series([1,2,3],index=['a','b','c'])}
d=pd.DataFrame(s)
d['three'] = pd.Series([10,20,30],index=['a','b','c'])
print(d)
d['four'] = d['one'] + d['three']
print(d)

   one  second  three
a    1       1     10
b    2       2     20
c    5       3     30
   one  second  three  four
a    1       1     10    11
b    2       2     20    22
c    5       3     30    35

In [52]:
import numpy as np
import pandas as pd
s={'one' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) , 'second' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) , 'third' : pd.Series([10,20,30],index=['a','b','c'])}
d=pd.DataFrame(s)
print(d)
del d['second']
print(d)

   one  second  third
a    1       1   10.0
b    2       2   20.0
c    3       3   30.0
d    4       4    NaN
e    5       5    NaN
   one  third
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
e    5    NaN

In [55]:
import numpy as np
import pandas as pd
s={'one' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) , 'second' : pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) , 'third' : pd.Series([10,20,30],index=['a','b','c'])}
d=pd.DataFrame(s)
print(d)
d.pop('second')
print(d)

   one  second  third
a    1       1   10.0
b    2       2   20.0
c    3       3   30.0
d    4       4    NaN
e    5       5    NaN
   one  third
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
e    5    NaN

In [60]:
import numpy as np
import pandas as pd
s=pd.Series(np.random.randn(2))
print(s)

0   -0.938018
1    2.008708
dtype: float64

In [62]:
import numpy as np
import pandas as pd
s=pd.Series(np.random.randn(2))
print(s.axes)

[RangeIndex(start=0, stop=2, step=1)]

In [63]:
import numpy as np
import pandas as pd
s=pd.Series(np.random.randn(2))
print(s.empty)

False

In [64]:
import numpy as np
import pandas as pd
s=pd.Series(np.random.randn(0))
print(s.empty)

True

In [66]:
import numpy as np
import pandas as pd
s=pd.Series(np.random.randn(2))
print(s)
print(s.ndim)

0   -0.866168
1    0.977924
dtype: float64
1

In [67]:
import numpy as np
import pandas as pd
s=pd.Series(np.random.randn(2))
print(s.size)

2

In [68]:
import numpy as np
import pandas as pd
s=pd.Series(np.random.randn(2))
print(s.values)

[-0.61409842  1.01850216]

In [75]:
import numpy as np
import pandas as pd
s=pd.Series(np.random.randn(4))
print(s)
print(s.head(2))

0   -0.003612
1    1.265107
2   -0.436731
3    1.372886
dtype: float64
0   -0.003612
1    1.265107
dtype: float64

In [74]:
import numpy as np
import pandas as pd
s=pd.Series(np.random.randn(4))
print(s)
print(s.tail(2))

0    1.662510
1    0.168871
2    0.085754
3    1.334177
dtype: float64
2    0.085754
3    1.334177
dtype: float64

In [81]:
import pandas as pd

import numpy as np

d = { 'Name':pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Smith', 'Jack']), 'Age':pd.Series([25,26,25,23,30,29,23]),

'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}


df = pd.DataFrame(d)
print(df)
print ("The transpose of the data series is:")
print(df.T)

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [80]:
import pandas as pd

import numpy as np

d = { 'Name':pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Smith', 'Jack']), 'Age':pd.Series([25,26,25,23,30,29,23]),

'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}


df = pd.DataFrame(d)

print(df)
print(df.shape)

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
(7, 3)